@model UserForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}

<div class="container">
    <br />

    <div class="row">
        <div class="col-4 offset-4">
            <div class="content-section">
                <legend class="border-bottom mb-4">Forgot Password ?</legend>
                <br />
                @if (Model?.EmailSent == true)
                {
                    <div class="alert alert-success" role="alert">
                        <p>
                            If you are registered with us, <br />
                            We have sent an email on your registered email address
                        </p>
                    </div>
                }
                else
                {
                    <p>Forgot your password? No worries you can reset it easily.</p>
                    <form method="post" novalidate>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Continue" class="btn btn-outline-primary" />
                        </div>
                    </form>
                }
                <div>
                    <p>Back to  <a asp-action="UserLogin" asp-controller="Account">Login</a></p>
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial"></partial>
}