@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <h5 class="display-5">
        <span class="badge badge-secondary">About BooksClub</span>
    </h5>
    <div class="row">
        <div class="content-section">
            <div class="page-header">
                <h3 class="text-center border-bottom mb-4">Learm more about us!</h3>
            </div>
            <div class="row">
                <div class="col-3">
                    <img class="rounded-circle account-img" src="~/images/images.jpg">
                </div>
                <div class="col-8">
                    <h3>Easy To Shared</h3>
                    <p>
                        Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <h3>Learn New Stuffs</h3>
                    <p>
                        Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                    </p>
                </div>
                <div class="col-3">
                    <img class="rounded-circle account-img" src="~/images/stuffs.jpg">
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <img class="rounded-circle account-img" src="~/images/board.jpg">
                </div>
                <div class="col-8">
                    <h3>Be On Board!</h3>
                    <p>
                        Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                    </p>
                </div>
            </div>
        </div>
    </div>